<div>
      <tr>
          <td> 
            <div> Data Binding </div>
            <div> One way</div>
            <div class="row">
              <div class="col-6">
                <div class="row"> from .ts to html 
                  <div class="col-3"> Interpolation</div>
                  <div class="col-3"> Property Binding</div>
                </div>
              </div>
            </div>
          </td>
      
          <td>
            <div> Two way</div>
            <div class="row">
              <div class="col-6">
                <div class="row"> from .ts to html 
                  <div class="col-3"> Event Binding</div>
                  <div class="col-3"> Two way Binding</div>
                </div>
                </div></div>
          </td>
        </tr>

  </div>